<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hackernews crawler</title>
</head>
<body>
    <a href="{{ url_for('frontend.logout') }}">Logout</a>

    <h1>Hackernews crawler</h1>

    <p>Total stories: {{ story_count }}</p>
    
    <h3>Latest stories</h3>

    <div>
        {% for story in latest_stories %}
            <div>{{ story.title }}</div>
            <div><a href="{{ story['url'] }}">{{ story["url"] }}</a></div>
            <div><a href="https://news.ycombinator.com/user?id={{ story['by'] }}">{{ story["by"] }}</a> |
                 score {{ story["score"] }} |
                 <a href="https://news.ycombinator.com/item?id={{ story['id'] }}">comments {{ story["descendants"] }}</a> |
                 {{ story["time"] }}</div>
            <br />
        {% endfor %}
    </div>
</body>
</html>