{% extends 'base.html' %}

{% block title %}Hackernews crawler{% endblock %}

{% block content %}
   <div class="row">
       <div class="col-md-12">
           <nav class="navbar navbar-default">
               <div class="container-fluid">
                   <div class="navbar-header">
                       <a class="navbar-brand" href="/">HNAC</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('frontend.logout') }}">Logout</a></li>
                        </ul>
                    </div>
               </div>
           </nav>
       </div>
   </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Statistics</h3>
            <p>Total stories: {{ story_count }}</p>
        </div>

        <div class="col-md-6">
            <h3>Latest stories</h3>

            <div>
                {% for story in latest_stories %}
                    <div><a class="story-title" href="https://news.ycombinator.com/item?id={{ story.id }}">{{ story.title }}</a></div>
                    <div><a href="{{ story['url'] }}">{{ story["url"] }}</a></div>
                    <div>by <a href="https://news.ycombinator.com/user?id={{ story['by'] }}">{{ story["by"] }}</a> |
                         score {{ story["score"] }} |
                        <a href="https://news.ycombinator.com/item?id={{ story['id'] }}">comments {{ story["descendants"] }}</a> |
                        posted at {{ story["time"].strftime('%Y/%m/%d %H:%M:%S') }}</div>
                    <br />
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <h3>Latest reports</h3>
            <div>
                <table class="table">
                    <tr>
                        <th>Job id</th>
                        <th>Number of processed items</th>
                        <th>Started at</th>
                        <th>Completed at</th>
                    </tr>
                    {% for report in latest_reports %}
                        <tr>
                            <td>{{ report.job_id }}</td>
                            <td>{{ report.num_processed_items }}</td>
                            <td>{{ report.started_at.strftime('%Y/%m/%d %H:%M:%S') }}</td>
                            <td>{{ report.completed_at.strftime('%Y/%m/%d %H:%M:%S') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
