{% extends 'base.html' %}

{% block title %}Hackernews crawler - Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Hackernews crawler</h1>

            <form method="POST">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(size=20) }}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(size=20) }}
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
